*{
    scroll-behavior: smooth;
}

body {
    opacity: 1;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.884),rgba(4,9,30,0.7));
    background-size: cover;
    position: relative;
    margin-top: 0px;
    padding: 0;
    margin: 0;
    margin-top: 0;
}

.video-wrapper video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
}

/* Section Sizing */
#header, #content, #footer{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 45px;
    margin-block-start: 0.0em !important;
    margin-block-end: 0.0em !important;
    justify-content: center;
}

/* Scrollable Text Box Styling */
.auto-text-box{
    display: inline-block;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));    border-radius: 80px;
    margin-top: 80px;
    height: 800px;
    width: 60%;
    overflow: scroll;
    -webkit-scrollbar: none;
}

h1, h2, h3 {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
    padding-top: 50px;
}

h2, h3 {
    padding-top: 25px;
}

p {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}

/* Auto Image Box Styling */
.auto-img-box{
    display: inline-block;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));    margin-left: 10px;
    border-radius: 80px;
    margin-top: 80px;
    height: 800px;
    width: calc(39% - 10px)
}

/* Image Styling */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: auto;
    max-height: 500px;
}


/* Footer Styling */
#footer {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));   
    margin-top: 100px;
    border-radius: 80px;
    min-height: 100px;
}

#footer ul, li, h4 {
    color: white;
    align-content: center;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Media Query */
@media screen and (max-width: 800px) {
    .auto-text-box{
        display: block;
        height: 400px;
        width: 100%;
    }

    .auto-text-box p {
        font-size: 20px;
    }

    .auto-img-box h1{
       font-size: 25px;
    }
    .auto-text-box h2 {
        font-size: 20px;
    }

    .auto-img-box{
        display: block;
        height: 400px;
        width: 100%;
    }
    
    .center{
        max-height: 375px;
        max-width: fit-content;
    }
}

@media screen and (max-width: 1000px) {
    .auto-text-box{
        display: block;
        height: 400px;
        width: 100%;
    }
    .auto-img-box{
        display: block;
        height: 400px;
        width: 100%;
    }
    
    .center{
        max-height: 375px;
        max-width: fit-content;
    }
}

